<article class="single_product">
    <figure>
        <div class="product_thumb">
            <a class="primary_img" th:href="${'/model/product/' + product.getId()}"><img
                    th:src="${product.getPicture()}" alt=""></a>
            <div class="label_product" th:if="${product.getDiscountPercent() != null}">
                <span class="label_sale" th:text="'-' + ${product.getDiscountPercent()} + '%'"></span>
            </div>
        </div>
        <figcaption class="product_content">
            <div class="product_rating">
                <ul>

                    <li th:if="${product.getRating < 0.5}"><a href="#"><i class="icon-star"></i></a></li>
                    <li th:if="${product.getRating >= 0.5}"><a href="#"><i class="icon-star2"></i></a></li>

                    <li th:if="${product.getRating < 1.5}"><a href="#"><i class="icon-star"></i></a></li>
                    <li th:if="${product.getRating >= 1.5}"><a href="#"><i class="icon-star2"></i></a></li>

                    <li th:if="${product.getRating < 2.5}"><a href="#"><i class="icon-star"></i></a></li>
                    <li th:if="${product.getRating >= 2.5}"><a href="#"><i class="icon-star2"></i></a></li>

                    <li th:if="${product.getRating < 3.5}"><a href="#"><i class="icon-star"></i></a></li>
                    <li th:if="${product.getRating >= 3.5}"><a href="#"><i class="icon-star2"></i></a></li>

                    <li th:if="${product.getRating < 4.5}"><a href="#"><i class="icon-star"></i></a></li>
                    <li th:if="${product.getRating >= 4.5}"><a href="#"><i class="icon-star2"></i></a></li>
                </ul>
            </div>
            <h4
                    class="product_name"><a th:href="${'/model/product/' + product.getId()}" th:text="${product.getName()}"></a>
            </h4>
            <div class="price_box">
                <span class="current_price" th:text="${product.getPrice()}+ ' ₽'"></span>
                <span class="old_price" th:if="${product.getPriceWithoutDiscount() != null}" th:text="${product.getPriceWithoutDiscount()}+ ' ₽'"></span>
            </div>
        </figcaption>
    </figure>
</article>